services:
  keycloak:
    env_file:
      - env/shared.env
      - env/shared.local.env
      - env/backend.env
      - env/backend.local.env
    profiles:
      - backend
    image: quay.io/keycloak/keycloak:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - ${KEYCLOAK_PORT}:${KEYCLOAK_PORT}
      - ${KEYCLOAK_SSL_PORT}:${KEYCLOAK_SSL_PORT}
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_SVC_ADMIN:-admin}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_SVC_ADMIN_PASSWORD:-admin}
    networks:
      default:
        aliases:
          - ${KEYCLOAK_SVC_HOSTNAME:-kc.ol.local}
    command: start --verbose --features scripts --import-realm --hostname=${KEYCLOAK_SVC_HOSTNAME:-kc.ol.local} --hostname-strict=false --hostname-debug=true --https-port=${KEYCLOAK_SSL_PORT} --https-certificate-file=/etc/x509/https/tls.crt --https-certificate-key-file=/etc/x509/https/tls.key --http-enabled=true --http-port=${KEYCLOAK_PORT} --config-keystore=/etc/keycloak-store --config-keystore-password=${KEYCLOAK_SVC_KEYSTORE_PASSWORD} --db=postgres --db-url-database=keycloak --db-url-host=db --db-schema=public --db-password=${POSTGRES_PASSWORD:-postgres} --db-username=postgres --db-url-port=${PGPORT:-5432}
    volumes:
      - keycloak-store:/etc/keycloak-store
      - ./config/keycloak/tls:/etc/x509/https
      - ./config/keycloak/realms:/opt/keycloak/data/import
      - ./config/keycloak/providers:/opt/keycloak/providers
      - ./config/keycloak/themes:/opt/jboss/keycloak/themes

  apigateway:
    profiles:
      - backend
    env_file:
      - env/shared.env
      - env/shared.local.env
      - env/backend.env
      - env/backend.local.env
    image: apache/apisix:latest
    depends_on:
      - keycloak
    environment:
      - KEYCLOAK_REALM_NAME=${KEYCLOAK_REALM_NAME:-ol-local}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID:-apisix}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - KEYCLOAK_DISCOVERY_URL=${KEYCLOAK_DISCOVERY_URL:-https://kc.ol.local:8066/realms/ol-local/.well-known/openid-configuration}
      - KEYCLOAK_SCOPES=${KEYCLOAK_SCOPES:-openid profile ol-profile}
      - APISIX_PORT=${APISIX_PORT:-8065}
      - APISIX_SESSION_SECRET_KEY=${APISIX_SESSION_SECRET_KEY:-something_at_least_16_characters}
      - APISIX_LOGOUT_URL=${APISIX_LOGOUT_URL:-http://open.odl.local:8065/}
      - NGINX_PORT=${NGINX_PORT:-8062}
    ports:
      - ${APISIX_PORT}:${APISIX_PORT}
    volumes:
      - ./config/apisix/config.yaml:/usr/local/apisix/conf/config.yaml
      - ./config/apisix/apisix.yaml:/usr/local/apisix/conf/apisix.yaml
      - ./config/apisix/debug.yaml:/usr/local/apisix/conf/debug.yaml

volumes:
  keycloak-store:
