services:
  opensearch-node-mitopen-1:
    extends:
      file: docker-compose.opensearch.base.yml
      service: opensearch
    hostname: opensearch-node-mitopen-1
    environment:
      - node.name=opensearch-node-mitopen-1
      - discovery.type=single-node # disables bootstrap checks that are enabled when network.host is set to a non-loopback address
      - plugins.ml_commons.only_run_on_ml_node=false
      - plugins.ml_commons.native_memory_threshold=100
      - plugins.ml_commons.jvm_heap_memory_threshold=95
      - plugins.ml_commons.ml_task_timeout_in_seconds=600

    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - 9100:9200 # REST API
      - 9500:9600 # Performance Analyzer

volumes:
  opensearch-data1:
