include:
  - docker-compose.opensearch.${OPENSEARCH_CLUSTER_TYPE:-single-node}.yml

services:
  web:
    profiles:
      - backend
    build:
      context: .
      dockerfile: Dockerfile
    mem_limit: 1gb
    cpus: 2
    command: ./scripts/run-django-dev.sh
    stdin_open: true
    tty: true
    ports:
      - "8061:8061"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      qdrant:
        condition: service_healthy
    volumes:
      - .:/src
      - django_media:/var/media
  playwright:
    ipc: host
    image: mcr.microsoft.com/playwright:v1.51.1-noble
    entrypoint:
      [
        "npx",
        "-y",
        "playwright@1.51.1",
        "run-server",
        "--port",
        "3000",
        "--host",
        "0.0.0.0",
      ]
    working_dir: /home/pwuser
    user: pwuser
    security_opt:
      - "seccomp=learning_resources/etl/playwright/seccomp_profile.json"
    ports:
      - "3000:3000"
    depends_on:
      - web
  watch:
    profiles:
      - frontend
    working_dir: /src
    image: node:22.14
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        yarn install --immutable
        yarn workspace ol-components storybook --no-open &
        yarn watch
    ports:
      - "8062:8062"
      - "6006:6006"
    environment:
      - NEXT_SERVER_MITOL_API_BASE_URL=http://nginx:8063/
    volumes:
      - .:/src
    links:
      - web

  celery:
    profiles:
      - backend
    build:
      context: .
      dockerfile: Dockerfile
    mem_limit: ${MITOL_CELERY_MEM_LIMIT:-2gb}
    cpus: ${MITOL_CELERY_CPU_LIMIT:-2}
    command: >
      /bin/bash -c '
      sleep 3;
      celery -A main.celery:app worker -E -Q default,edx_content -B -l ${MITOL_LOG_LEVEL:-INFO}'
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/src
      - django_media:/var/media
