include:
  - docker-compose.opensearch.${OPENSEARCH_CLUSTER_TYPE:-single-node}.yml

services:
  web:
    profiles:
      - backend
    build:
      context: .
      dockerfile: Dockerfile
      target: final
    mem_limit: ${MITOL_WEB_MEM_LIMIT:-2gb}
    cpus: 2
    command: ./scripts/run-django-dev.sh
    stdin_open: true
    tty: true
    ports:
      - "8061:8061"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      qdrant:
        condition: service_healthy
    volumes:
      - .:/src
      - django_media:/var/media

  watch:
    profiles:
      - frontend
    build:
      context: .
      dockerfile: Dockerfile.watch
    working_dir: /src
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        yarn install --immutable
        if [ "$${NODE_ENV}" = "production" ]; then
          yarn build
          echo "WARNING: Production preview will NOT re-render on file changes."
          yarn preview
        else
          yarn watch
        fi
    ports:
      - "8062:8062"
      - "6006:6006"
      - "9229:9229"
    environment:
      - NEXT_SERVER_MITOL_API_BASE_URL=http://nginx:8063/
    volumes:
      - .:/src
    links:
      - web

  celery:
    profiles:
      - backend
    build:
      context: .
      dockerfile: Dockerfile
      target: final
    mem_limit: ${MITOL_CELERY_MEM_LIMIT:-4gb}
    cpus: ${MITOL_CELERY_CPU_LIMIT:-2}
    command: >
      /bin/bash -c '
      sleep 3;
      celery -A main.celery:app worker -E -Q default,edx_content,embeddings -B --scheduler redbeat.RedBeatScheduler -l ${MITOL_LOG_LEVEL:-INFO}'
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/src
      - django_media:/var/media
