include:
  - path: docker-compose.services.yml
    env_file:
      - env/shared.env
      - env/shared.local.env
      - env/backend.env
      - env/backend.local.env

# Define the extra_hosts as a reusable anchor
x-extra-hosts: &default-extra-hosts
  extra_hosts:
    - "mitxonline.odl.local:host-gateway"
    - "kc.odl.local:host-gateway"
    - "api.learn.odl.local:host-gateway"

services:
  web:
    extends:
      file: docker-compose.apps.yml
      service: web
    <<: *default-extra-hosts
    env_file:
      - path: env/shared.env
      - path: env/shared.local.env
        required: false
      - path: env/backend.env
      - path: env/backend.local.env
        required: false
      # DEPRECATED: legacy .env file at the repo root
      - path: .env
        required: false

  watch:
    extends:
      file: docker-compose.apps.yml
      service: watch
    extra_hosts:
      # Both the browser and NextJS server (containerized) make requests to
      # api.open.odl.local, forward those to host
      - "api.open.odl.local:host-gateway"
      - "mitxonline.odl.local:host-gateway"
      - "learn.odl.local:host-gateway"
      - "kc.odl.local:host-gateway"
      - "api.learn.odl.local:host-gateway"
    env_file:
      - path: env/shared.env
      - path: env/shared.local.env
        required: false
      - path: env/frontend.env
      - path: env/frontend.local.env
        required: false
      # DEPRECATED: legacy .env file at the repo root
      - path: .env
        required: false

  celery:
    extends:
      file: docker-compose.apps.yml
      service: celery
    <<: *default-extra-hosts
    env_file:
      - path: env/shared.env
      - path: env/shared.local.env
        required: false
      - path: env/backend.env
      - path: env/backend.local.env
        required: false
      # DEPRECATED: legacy .env file at the repo root
      - path: .env
        required: false
