.react-renderer.node-mediaEmbed {
  width: 100vw; /* full viewport width */
  position: relative;
  left: 50%; /* move to center */
  right: 50%;
  height: 100vh;
  margin-left: -50vw; /* pull left */
  margin-right: -50vw; /* pull right */
}

.react-renderer.node-mediaEmbed > [data-node-view-wrapper] {
  width: 100%;
  height: 100%;
}
