upstreams:
  - id: 1
    nodes:
      "nginx:${{NGINX_PORT}}": 1
    type: roundrobin
  - id: 2
    nodes:
      "${{MITX_ONLINE_DOMAIN}}:8013": 1
    type: roundrobin

routes:
  - id: 1
    name: "passauth"
    desc: "Wildcard route that can use auth but doesn't require it."
    priority: 0
    upstream_id: 1
    plugins:
      openid-connect:
        client_id: ${{KEYCLOAK_CLIENT_ID}}
        client_secret: ${{KEYCLOAK_CLIENT_SECRET}}
        discovery: ${{KEYCLOAK_DISCOVERY_URL}}
        realm: ${{KEYCLOAK_REALM_NAME}}
        scope: ${{KEYCLOAK_SCOPES}}
        bearer_only: false
        introspection_endpoint_auth_method: "client_secret_post"
        ssl_verify: false
        session:
          secret: ${{APISIX_SESSION_SECRET_KEY}}
          cookie:
            lifetime: 1209600
            domain: ${{CSRF_COOKIE_DOMAIN}}
        logout_path: "/logout/oidc"
        post_logout_redirect_uri: ${{APISIX_LOGOUT_URL}}
        unauth_action: "pass"
      cors:
        allow_origins: "**"
        allow_methods: "**"
        allow_headers: "**"
        allow_credential: true
      response-rewrite:
        headers:
          set:
            Referrer-Policy: "origin"
    uri: "*"
  - id: 2
    name: "reqauth"
    desc: "Routes that require authentication."
    priority: 10
    upstream_id: 1
    plugins:
      openid-connect:
        client_id: ${{KEYCLOAK_CLIENT_ID}}
        client_secret: ${{KEYCLOAK_CLIENT_SECRET}}
        discovery: ${{KEYCLOAK_DISCOVERY_URL}}
        realm: ${{KEYCLOAK_REALM_NAME}}
        scope: ${{KEYCLOAK_SCOPES}}
        bearer_only: false
        introspection_endpoint_auth_method: "client_secret_post"
        ssl_verify: false
        session:
          secret: ${{APISIX_SESSION_SECRET_KEY}}
          cookie:
            lifetime: 1209600
            domain: ${{CSRF_COOKIE_DOMAIN}}
        logout_path: "/logout/oidc"
        post_logout_redirect_uri: ${{APISIX_LOGOUT_URL}}
        unauth_action: "auth"
      cors:
        allow_origins: "**"
        allow_methods: "**"
        allow_headers: "**"
        allow_credential: true
      response-rewrite:
        headers:
          set:
            Referrer-Policy: "origin"
    uris:
      - "/admin/login/*"
      - "/login"
  - id: 3
    name: "mitxonline-wildcard"
    desc: "General route for the mitxonline application, includes user data if any."
    priority: 10
    upstream_id: 2
    plugins:
      openid-connect:
        client_id: ${{KEYCLOAK_CLIENT_ID}}
        client_secret: ${{KEYCLOAK_CLIENT_SECRET}}
        discovery: ${{KEYCLOAK_DISCOVERY_URL}}
        realm: ${{KEYCLOAK_REALM_NAME}}
        scope: "openid profile ol-profile"
        bearer_only: false
        introspection_endpoint_auth_method: "client_secret_post"
        ssl_verify: false
        session:
          secret: ${{APISIX_SESSION_SECRET_KEY}}
          cookie:
            lifetime: 1209600
            domain: ${{CSRF_COOKIE_DOMAIN}}
        logout_path: "/logout"
        post_logout_redirect_uri: ${{APISIX_LOGOUT_URL}}
        unauth_action: "pass"
    uri: "*"
    hosts:
      - ${{MITX_ONLINE_DOMAIN}}
#END
