# MITOL_JWT_SECRET=
# MITOL_USE_S3=True
# MAILGUN_RECIPIENT_OVERRIDE=
# STATUS_TOKEN=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
# YOUTUBE_DEVELOPER_KEY=
#
# SOCIAL_AUTH_OL_OIDC_OIDC_ENDPOINT=
# SOCIAL_AUTH_OL_OIDC_KEY=
# SOCIAL_AUTH_OL_OIDC_SECRET=
# AUTHORIZATION_URL=
# ACCESS_TOKEN_URL=
# USERINFO_URL=

# POSTHOG_PROJECT_ID=
# POSTHOG_PERSONAL_API_KEY=

MAILGUN_SENDER_DOMAIN=open.odl.local
MAILGUN_KEY=fake

# APISIX/Keycloak settings
APISIX_LOGOUT_URL=http://api.open.odl.local:8065/logout/
APISIX_SESSION_SECRET_KEY=supertopsecret1234
KC_SPI_THEME_WELCOME_THEME=scim
KC_SPI_REALM_RESTAPI_EXTENSION_SCIM_LICENSE_KEY=
KEYCLOAK_BASE_URL=http://kc.ol.local:8066
KEYCLOAK_CLIENT_ID=apisix
# This is not a secret. This is for the Keycloak container, only for local use.
KEYCLOAK_CLIENT_SECRET=HckCZXToXfaetbBx0Fo3xbjnC468oMi4 # pragma: allowlist-secret
KEYCLOAK_DISCOVERY_URL=http://kc.ol.local:8066/realms/ol-local/.well-known/openid-configuration
KEYCLOAK_REALM_NAME=ol-local
# For some organization related functionality, add organization:* if you have orgs enabled
KEYCLOAK_SCOPES="openid profile ol-profile"
KEYCLOAK_SVC_KEYSTORE_PASSWORD=supertopsecret1234
KEYCLOAK_SVC_HOSTNAME=kc.ol.local
KEYCLOAK_SVC_ADMIN=admin
KEYCLOAK_SVC_ADMIN_PASSWORD=admin
AUTHORIZATION_URL=http://kc.ol.local:8066/realms/ol-local/protocol/openid-connect/auth
ACCESS_TOKEN_URL=http://kc.ol.local:8066/realms/ol-local/protocol/openid-connect/token
OIDC_ENDPOINT=http://kc.ol.local:8066/realms/ol-local
SOCIAL_AUTH_OL_OIDC_OIDC_ENDPOINT=http://kc.ol.local:8066/realms/ol-local
SOCIAL_AUTH_OL_OIDC_KEY=apisix
# This is not a secret. This is for the Keycloak container, only for local use.
SOCIAL_AUTH_OL_OIDC_SECRET=HckCZXToXfaetbBx0Fo3xbjnC468oMi4 # pragma: allowlist-secret
USERINFO_URL=http://kc.ol.local:8066/realms/ol-local/protocol/openid-connect/userinfo

# _JAVA_OPTIONS for Opensearch container are not consistent between different CPU architectures e.g ARM and x86.
# Here, anyone can set options like -XX:UseSVE=0 based on their CPU.
JAVA_OPTIONS=

# Set this to False to enable all scheduled celery tasks (default is True in backend.env)
CELERY_BEAT_DISABLED=False

# Assign the bucket here if you want to enable edx contentfile ingestion locally
COURSE_ARCHIVE_BUCKET_NAME=
