# MITOL_API_BASE_URL=http://api.open.odl.local:8063
# MITOL_APP_BASE_URL=http://open.odl.local:8063
# POSTHOG_PROJECT_API_KEY=
# POSTHOG_TIMEOUT_MS=1500
# EMBEDLY_KEY=
# Use port 8063 if apisix/keycloak disabled
MITOL_API_BASE_URL=http://api.open.odl.local:8063
MITOL_API_DOMAIN=api.open.odl.local # dev only, should match domain of above

# reCAPTCHA — get keys from https://www.google.com/recaptcha/admin
# For local development, use the test keys below (always pass, no verification):
# https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha.-what-should-i-do
# RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
# RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
